<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="Dot.Deliminated.Path" value="dot"/>
        <add key="Colon:Deliminated:Path" value="colon"/>
        
        <add key="Priority:Deliminated" value="colon"/>
        <add key="Priority.Deliminated" value="dot"/>
    </appSettings>
</configuration>